:root {
    --grid-columns: 16;
    --grid-rows: 16;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

header {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.heading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
}

#container {
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    width: 750px;
    height: 750px;
    border: solid black 2px;
    background-color: white;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.grid-square {
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.user-input{
    width: 750px;
    display: flex;
    justify-content: space-between;
}

.input-button {
    width: 150px;
    height: 50px;
    border-style: solid black;
    border-radius: 10px;
}